@model IEnumerable<VerbaleViewModel>

<table class="table">
    <thead>
        <tr>
            <th>Data Violazione</th>
            <th>Indirizzo Violazione</th>
            <th>Nominativo Agente</th>
            <th>Data Trascrizione Verbale</th>
            <th>Importo</th>
            <th>Decurtamento Punti</th>
            <th>Anagrafica</th>
            <th>Violazione</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DataViolazione.ToString("yyyy-MM-dd")</td>
                <td>@item.IndirizzoViolazione</td>
                <td>@item.NominativoAgente</td>
                <td>@item.DataTrascrizioneVerbale.ToString("yyyy-MM-dd")</td>
                <td>@item.Importo</td>
                <td>@item.DecurtamentoPunti</td>
                <td>@item.NomeAnagrafica</td>
                <td>@item.NomeViolazione</td>
            </tr>
        }
    </tbody>
</table>



<div class="row">

    <div class="col">
        <a asp-action="NewVerbale" class="btn btn-primary">Nuovo Verbale</a>

    </div>

</div>